<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <% if @visited.present? %>
      <h5 class="pull-right">Artykuł przeczytany</h5>
    <% end %>
    <h1><%= @article.title %></h1>
    <%= @article.content.html_safe %>
  </div>
</div>

<div class="row">
  <div class="col md-6 col-md-offset-3">
    <h4 STYLE="color: #337ab7">Oceń artykuł: </h4>
  </div>
  <div class="col md-3 col-md-offset-6">

    <%= form_tag(article_rate_path( :article => @article.id), {method: :post}) do %>
      <%= radio_button_tag 'rate', '1' %>
      <label>1 </label>
      <%= radio_button_tag 'rate', '2' %>
      <label>2 </label>
      <%= radio_button_tag 'rate', '3' %>
      <label>3 </label>
      <%= radio_button_tag 'rate', '4' %>
      <label>4 </label>
      <%= radio_button_tag 'rate', '5' %>
      <label>5 </label>
      <%= submit_tag 'Zapisz ocenę' %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Komentarze</h3>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <% @comments.each do |comment| %>
      <div class="border-grey">
        <div class="pull-right"><%= comment.created_at.to_datetime.in_time_zone.strftime("%k:%M - %m/%d/%Y") %></div>
        <h4><%= comment.user.name %></h4>
        <%= comment.content %>
      </div>
    <% end %>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <% if @current_user.present? %>
      <h3>Dodaj komentarz</h3>
      <%= form_for :comment do |f| %>
        <%= f.hidden_field :article_id, value: @article.id %>
        <%= f.text_area :content, class: 'form-control', :required => true %>
        <%= f.submit "Dodaj komentarz", class: 'btn btn-primary col-md-12 center' %>
      <% end %>
    <% else %>
      <h3>Musisz się zalogować aby dodawać komentarze</h3>
    <% end %>
  </div>
</div>